.jumbotron {
    margin: auto;
    background-image: url(/Assets/dos_image222.jpg);
    height: 360px;
    background-repeat: no-repeat;
}

.jumbotron h1 {
    text-align: center;
    color: white;
}


.h2 {
    color: black;
}
.iframe {
    display: block;
}