.jumbotron {
    background-image: url(/Assets/tombRaiderBanner.jpg);
    background-size: cover;
    color: white;
    align-items: center;
    height: 360px;
    width: auto;
}

.jumbotron h1 {
    text-align: center;
    color: white;
    font-size: 100px;
}

.jumbotron p {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 35px;
}