.jumbotron {
    background-image: url(../Assets/BF2_Jumbotron.jpg);
    background-size: 1850px;
    color: white;
}

.jumbotron h1 {
    text-align: center;
    color: yellow;
    font-size: 100px;
}

.jumbotron p {
    text-align: center;
    color: yellow;
    font-weight: bold;
    font-size: 35px;
}
