.jumbotron {
    background-image: url(../Assets/spaceHulkBanner.jpg);
    background-size: cover;
    color: white;
    align-items: center;
    height: 360px
}

.jumbotron h1 {
    text-align: center;
    color: white;
    font-size: 100px;
}

.jumbotron p {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.h2 {
    color: black;
}

.iframe {
    display: block;
}
